[build]
  publish = "dist"
  command = "npm run build"
  [build.environment]
    NETLIFY_NEXT_PLUGIN_SKIP = "true"

[[headers]]
  for = "/2023/*"
  [headers.values]
    X-Content-Type-Options = "nosniff"
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    Cache-Control = "public,max-age=600"

[[headers]]
  for = "/2023/assets/*"
  [headers.values]
    Cache-Control = "max-age=31536000,public,immutable"

[[headers]]
  for = "/2023/fonts/*"
  [headers.values]
    Cache-Control = "max-age=86400,public"

[[headers]]
  for = "/2023/headshots/*"
  [headers.values]
    Cache-Control = "max-age=86400,public"

[[headers]]
  for = "/2023/logos/*"
  [headers.values]
    Cache-Control = "max-age=86400,public"

[[headers]]
  for = "/2023/downloads/*"
  [headers.values]
    Cache-Control = "max-age=86400,public"

# Redirect requests to State of Mozilla 2025
[[redirects]]
  from = "/"
  to = "https://state-of-mozilla-2025.netlify.app/"
  status = 301

[[redirects]]
  from = "/2024"
  to = "https://www.mozilla.org/foundation/annualreport/2024"
  status = 301

[[redirects]]
  from = "/2025"
  to = "https://state-of-mozilla-2025.netlify.app/"
  status = 301

[[redirects]]
  from = "/rebel"
  to = "https://state-of-mozilla-2025.netlify.app/rebel"
  status = 301