@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased font-body;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    @apply text-[#111111];

    @media (min-width: 160em) {
      /* 2560px - widescreen */
      font-size: calc(1em * 1.2);
    }

    @media (min-width: 215em) {
      /* 3440 - ultra widescreen */
      font-size: calc(1em * 1.55);
    }

    @media (min-width: 215em) and (min-height: 106.25em) {
      /* 3440x1700 - 4k 32" */
      font-size: calc(1em * 2);
    }
  }

  [x-cloak] {
    display: none !important;
  }

  footer {
    @apply text-white bg-black;
  }

  .modal-body h3 {
    @apply text-[36px]/[38px] font-title font-medium mb-[35px];
  }
  
  .modal-body h4 {
    @apply text-[24px]/[31px] tracking-[.48px] font-title font-bold mb-[35px];
  }

  .modal-body p {
    @apply text-[16px]/[24px] tracking-[.32px] font-body font-normal mb-[35px];
  }

  .modal-body p a {
    @apply underline hover:text-[#89D5FF];
  }

  .modal-body ul {
    @apply list-disc pl-3 mb-[35px];
  }

  .modal-body li {
    @apply mb-3 last:mb-0 text-[16px]/[24px] tracking-[.32px] font-body font-normal;
  }

  .modal-body blockquote {
    @apply py-10 my-10 border-t border-b border-black inline-flex w-full items-start gap-5 md:gap-[30px] md:pl-[44px];
  }

  .modal-body blockquote:before {
    content: open-quote;
    @apply text-[56px]/[56px] font-title font-bold tracking-[1px];
  }

  #previousArticle.transitionIn {
    @apply z-20 transition-all duration-300 ease-in-out translate-x-[80vw] opacity-100;
  }
  #previousArticle.transitionOut {
    @apply z-20 transition-all duration-300 ease-in-out -translate-x-[80vw] opacity-100;
  }

  #nextArticle.transitionIn {
    @apply transition-all duration-300 ease-in-out -translate-x-[80vw] opacity-100 z-20;
  }
  #nextArticle.transitionOut {
    @apply z-20 transition-all duration-300 ease-in-out translate-x-[80vw] opacity-100;
  }

  #modalMain.transitionInRight {
    @apply transition-[transform,opacity] duration-300 ease-in-out translate-x-full opacity-50;
  }
  #modalMain.transitionInLeft {
    @apply transition-[transform,opacity] duration-300 ease-in-out -translate-x-full opacity-50;
  }

  main.modalActive {
    animation: scaleBack .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
    animation-delay: .1s;
    @apply origin-top;
  }

  .tile:last-child .icon {
    @apply !justify-start;
  }

  #modal-container {
    @apply origin-center scale-0;
  }
  
  #modal-container.active {
    @apply scale-100;
  }

  #modal-container.active .modal-background {
    animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
  }

  #modal-container.active .modal {
    animation: scaleUp .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
    transform-origin: center;
    animation-delay: .25s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
     opacity: .7;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: .7;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes scaleUp {
    0% {
      transform: scale(1.2) translateY(100px);
      opacity: 0;
    }

    99% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }

    99.5% {
      transform: none;
      opacity: 1;
    }
  }

  @keyframes scaleDown {
    0% {
      transform: scale(1) translateY(100px);
      opacity: 1;
    }

    100% {
      transform: scale(.8);
      opacity: 0;
    }
  }

  @keyframes scaleBack {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(.85);
    }
  }

  @keyframes scaleForward {
    0% {
      transform: scale(.85);
    }

    100% {
      transform: scale(1);
    }
  }
}

@layer components {
  /* Scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .styled-scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .styled-scroll::-webkit-scrollbar-thumb {
    background: rgba(162, 133, 208, 0.3);
  }
}
