@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased font-body;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    @apply text-[#111111];

    @media (min-width: 160em) {
      /* 2560px - widescreen */
      font-size: calc(1em * 1.2);
    }

    @media (min-width: 215em) {
      /* 3440 - ultra widescreen */
      font-size: calc(1em * 1.55);
    }

    @media (min-width: 215em) and (min-height: 106.25em) {
      /* 3440x1700 - 4k 32" */
      font-size: calc(1em * 2);
    }
  }

  [x-cloak] {
    display: none !important;
  }

  footer {
    @apply text-white bg-black;
  }
}

@layer components {
  /* Scrollbar */
  .styled-scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .styled-scroll::-webkit-scrollbar-thumb {
    background: rgba(162, 133, 208, 0.3);
  }
}
